.player-widget {
    padding: 30px 20px 40px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.list-players {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player-widget__current-move {
    text-align: center;
}

.player-card {
    display: flex;
    gap: 15px;
    padding: 20px 30px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.player-card_select {
    border: lightblue 2px solid;
}

.player-card__marker {
    width: 10px;
}

.player-card__username {
    flex-grow: 1;
}

.player-card__money {
    font-family: 'Courier New', Courier, monospace;
}
